@import url("https://fonts.googleapis.com/css?family=Poppins|Ubuntu:700");

body {
  font-family: Poppins;
  height: 100%;
}

.coverImage {
  /* The image used */
  background-image: url(../img/cover.png);

  /* height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  text-align: center;
  color: white;
}

.imageBlogCover {
  /* height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
  text-align: center;
  color: white;
}

.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar h1 {
  font-size: 70px;
  margin-bottom: 60px;
  text-shadow: 2px 0px 3px black;
  font-weight: 600;
}

.input-group .form-control {
  height: 45px;
}

.input-group-btn > .btn {
  height: 45px;
  width: 45px;
}

footer {
  margin: 50px 0;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.1);
  border-color: transparent;
  transition: 0.5s linear;
}

.navbar-inverse .navbar-brand {
  line-height: 30px;
  font-weight: 600;
  font-size: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  line-height: 40px;
  font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #dbdbdb;
}

.navbar-fixed-top.scrolled {
  background-color: rgb(14, 14, 14) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s linear;
}

.navbar-inverse .navbar-nav > li > a.scroll-point {
  color: white;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 25px;
  min-height: 650px;
  max-height: 650px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.blog-content {
  padding: 5px 20px;
}

.container {
  width: 95%;
}

.blogHeaderImage {
  position: relative;
  text-align: center;
  color: white;
}

.ctg-text {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  font-size: 16px;
  top: 16px;
  left: 16px;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s linear;
  background-color: rgba(0, 0, 0, 0.3);
}

.ctg-text:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  color: black;
}

.imageBlogTitle-text {
  text-align: left;
  position: absolute;
  font-size: 18px;
  min-height: 200px;
  top: 64px;
  left: 16px;
  right: 16px;
  padding: 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: 0.5s linear;
  background-color: rgba(0, 0, 0, 0.8);
}

.bottom-left {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.post-wrapper {
  margin: auto;
  background-color: #f9f9f9;
  padding: 20px 50px;
  margin: 32px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.post-content {
  font-size: 18px;
  line-height: 32px;
}

.btn-primary {
  background: #5485f3;
  border: 1px solid #3872f7;
  border-radius: 0px;
}

.btn-primary:hover {
  background: #306cf7;
  border: 1px solid #306cf7;
}

.post-image {
  /* height */
  height: 500px;

  /* Center and scale the image nicely */
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;

  position: relative;
  text-align: center;
}

.sidebar {
  min-height: 100%;
  background-color: #f9f9f9;
  padding: 20px 50px;
  margin: 32px auto;
}

.sidebar li {
  margin-bottom: 20px;
}

.sidebar li a {
  color: black;
  transition: 0.1s linear;
  text-decoration: none;
  font-size: 16px;
}

.sidebar li a:hover {
  font-size: 18px;
  color: #306cf7;
}
