@import url('https://fonts.googleapis.com/css?family=Poppins');

body, html {
    font-family: Poppins;
}

.disable {
    position: relative;
}
.disable:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
.disable a {
    color: gray;
    cursor: default;
}
